Source: lina-irc
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 libqt4-dev
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/lina-irc
Vcs-Git: git://github.com/pippijn/lina-irc
Vcs-Browser: https://github.com/pippijn/lina-irc

Package: lina-irc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple IRC client based on LibIrcClient-Qt
 A small GUI IRC client with QQ emoticons.
